@page "/master/DocFunction"

@inject IJSRuntime jsRuntime
@inject NavigationManager NavMgr
@inject IDialogService DialogService
@inject DocFunctionService service
@inject ISnackbar Snackbar
@using System.IO

<h1>Daftar Doc Function</h1>

<p>Gunakan halaman ini untuk melihat Doc Functions.</p>

@if (DataDocFunction == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MudTable Context="item" Items="@DataDocFunction" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped" Filter="new Func<DocFunction,bool>(FilterFunc1)" @bind-SelectedItem="selectedItem1">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Data DocFunction</MudText>
            <MudSpacer />
            <MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>
        <HeaderContent>
            <MudTh>Skill Name</MudTh>
            <MudTh>Function Name</MudTh>
            <MudTh>Result Tag</MudTh>
            <MudTh>Description</MudTh>
            <MudTh>Parameters</MudTh>
            <MudTh>Actions</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Skill Name">@item.SkillName</MudTd>
            <MudTd DataLabel="Function Name">@item.FunctionName</MudTd>
            <MudTd DataLabel="Result Tag">@item.ResultTag</MudTd>
            <MudTd DataLabel="Description">@item.Desc</MudTd>
            <MudTd DataLabel="Parameters">@(string.Join(",", item.Parameters))</MudTd>
            <MudTd DataLabel="Actions">
                <MudButton ButtonType="ButtonType.Button" @onclick="(() => PrepareForEdit(item))" DisableElevation="true" Variant="Variant.Filled" Color="Color.Primary" Class="mr-2">Ubah</MudButton>
                <MudButton ButtonType="ButtonType.Button" @onclick="(() => PrepareForDelete(item))" DisableElevation="true" Variant="Variant.Filled" Color="Color.Error" Class="mr-2">Hapus</MudButton>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

    <div class="d-flex flex-wrap mt-4">
        <MudSwitch @bind-Checked="@hover" Color="Color.Primary">Hover</MudSwitch>
        <MudSwitch @bind-Checked="@dense" Color="Color.Secondary">Dense</MudSwitch>
        <MudSwitch @bind-Checked="@striped" Color="Color.Tertiary">Striped</MudSwitch>
        <MudSwitch @bind-Checked="@bordered" Color="Color.Warning">Bordered</MudSwitch>
    </div>


}
    <MudPaper Class="pa-4 mt-4">
        <MudButton ButtonType="ButtonType.Button" @onclick="(() => InitializeitemObject())" DisableElevation="true" Variant="Variant.Filled" Color="Color.Primary" Class="mr-2">Masukan DocFunction Baru</MudButton>
    </MudPaper>


@code {
    DocFunctionDetail detail;
   
    string customHeader = string.Empty;
    List<DocFunction> DataDocFunction;
    DocFunction itemObject = new DocFunction();

    private bool dense = false;
    private bool hover = true;
    private bool striped = false;
    private bool bordered = false;
    private string searchString1 = "";
    private DocFunction selectedItem1 = null;

    private HashSet<DocFunction> selectedItems = new HashSet<DocFunction>();

    private bool FilterFunc1(DocFunction element) => FilterFunc(element, searchString1);

    private bool FilterFunc(DocFunction element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.SkillName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.FunctionName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.Desc.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        return false;
    }

    async Task DownloadFile(string Url)
    {
        if (!string.IsNullOrEmpty(Url))
        {
            NavMgr.NavigateTo(Url, true);
        }
        else
        {
            Snackbar.Add("Url kosong atau tidak valid.",Severity.Error);
        }
    }

   
    protected override async Task OnInitializedAsync()
    {

        DataDocFunction = service.GetAllData();


    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
        }
    }

    private async Task InitializeitemObject()
    {

        itemObject = new DocFunction();

        customHeader = "Masukan Doc Function Baru";

        var action = new Action(DataChanged);
        var parameters = new DialogParameters { ["TaskObject"] = itemObject, ["CustomHeader"] = customHeader, ["DataChanged"] = action };
        var options = new MudBlazor.DialogOptions { CloseOnEscapeKey = true, FullWidth = true };
        var dialog = DialogService.Show<DocFunctionDetail>(customHeader, parameters,options);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            DataDocFunction = service.GetAllData();
            //In a real world scenario we would reload the data from the source here since we "removed" it in the dialog already.
            //long.TryParse(result.Data.ToString(), out var NewId);
        }
    }
    private async void DataChanged()
    {
        DataDocFunction = service.GetAllData();
        StateHasChanged();
    }

    private async Task PrepareForEdit(DocFunction item)
    { 
        customHeader = "Ubah Data Doc Function";
        itemObject = item;
        var action = new Action(DataChanged);
        var parameters = new DialogParameters { ["TaskObject"] = itemObject, ["CustomHeader"] = customHeader, ["DataChanged"] = action };

        var dialog = DialogService.Show<DocFunctionDetail>(customHeader, parameters);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            DataDocFunction = service.GetAllData();
            //In a real world scenario we would reload the data from the source here since we "removed" it in the dialog already.
            //long.TryParse(result.Data.ToString(), out var NewId);
        }

    }
    private async Task PrepareForDelete(DocFunction item)
    {
        itemObject = item;
        var options = new MudBlazor.DialogOptions { CloseOnEscapeKey = true };
        var dialog = DialogService.Show<MudConfirmDialog>("Konfirmasi", options);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            var task = service.DeleteData(itemObject);
            //await jsRuntime.InvokeAsync<object>("CloseModal", "confirmDeleteModal");
            DataDocFunction = service.GetAllData();
            itemObject = new DocFunction() { };
        }
    }


}

